*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 0) 0%, rgba(241, 32, 44, 1) 100%, rgba(227, 7, 7, 1) 0%, rgba(179, 96, 96, 1) 100%);
}

.results{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border: 2px solid black;
}
    

.card{
    border: 2px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 200ms linear;
    color: #ffffffd3;
    background-color: rgb(4, 52, 92);

}

.card:hover{
    cursor:pointer;
    background-color: rgb(53, 181, 240); 
    color: #080b35;
}

.card img{
    height: 200px;
    width: auto;
}
